Package: NeuroRADS
Version: 1.3
Architecture: i386
Maintainer: David Bouget <david.bouget@sintef.no>
Description: NeuroRADS—Reporting and Data System.
 Software to automatically segment tumors and their from pre-operative CTs and MRIs, and report them in a standardized manner.
