[Desktop Entry]
Name=Raidionics
Comment=Raidionics
Exec=/opt/Raidionics/Raidionics
Terminal=false
Type=Application
Icon=/opt/Raidionics/images/raidionics-logo.png
Categories=public.app-categorical.medical