name: Build macOS

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  build:
    name: Build packages
    runs-on: macos-10.15
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: 3.7

    - name: Collect submodules
      uses: actions/checkout@v3
      with:
        submodules: 'recursive'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r misc/requirements.txt
        pip install -e git+https://github.com/dbouget/raidionics_rads_lib.git@release#egg=raidionicsrads
        pip install -e git+https://github.com/dbouget/raidionics_seg_lib.git@release#egg=raidionicsseg

    - name: Build software
      run: |
        pip install pyinstaller
        mkdir tmp_dependencies
        pyinstaller --noconfirm --clean misc/main.spec

    - name: Make installer
      run: |
        git clone https://github.com/andreped/quickpkg.git
        quickpkg/quickpkg dist/Raidionics.app --output Raidionics-1.1.0-macOS.pkg
        cp -r Raidionics-1.1.0-macOS.pkg dist/Raidionics-1.1.0-macOS.pkg

    - name: Upload package
      uses: actions/upload-artifact@v2
      with:
        name: Package
        path: ${{github.workspace}}/dist/Raidionics-*
        if-no-files-found: error
