name: Build Ubuntu

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  build:
    name: Build packages
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Download ANTs
      uses: robinraju/release-downloader@main
      with:
        repository: "raidionics/Raidionics-dependencies"
        latest: true
        fileName: "ANTsX-v2.4.3_ubuntu.zip"
        out-file-path: "downloads"

    - name: Extract ANTs
      run: |
        cd ${{github.workspace}}/downloads/
        mkdir ${{github.workspace}}/ANTs/install
        tar -xf ANTsX*.zip -C ${{github.workspace}}/ANTs/install/

    - name: Collect submodules
      uses: actions/checkout@v3
      with:
        submodules: 'recursive'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e git+https://github.com/dbouget/raidionics_rads_lib.git@master#egg=raidionicsrads
        pip install -r assets/requirements.txt

    - name: Build software
      run: |
        pip install pyinstaller
        mkdir tmp_dependencies
        pyinstaller --noconfirm --clean assets/main.spec

    - name: Make installer
      run: |
        mkdir -p assets/Raidionics_ubuntu/usr/local/bin
        cp -r dist/Raidionics assets/Raidionics_ubuntu/usr/local/bin
        dpkg-deb --build --root-owner-group assets/Raidionics_ubuntu
        ls -la
        cp -r assets/Raidionics_ubuntu.deb dist/Raidionics-1.2.0-ubuntu.deb

    - name: Upload package
      uses: actions/upload-artifact@v2
      with:
        name: Package
        path: ${{github.workspace}}/dist/Raidionics-*
        if-no-files-found: error
