name: Build Windows

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  build:
    name: Build packages
    runs-on: windows-2019
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: 3.7

    - name: Collect submodules
      uses: actions/checkout@v3
      with:
        submodules: 'recursive'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e git+https://github.com/dbouget/raidionics_rads_lib.git@master#egg=raidionicsrads
        pip install -r misc/requirements.txt
#        pip install -e git+https://github.com/dbouget/raidionics_seg_lib.git@master#egg=raidionicsseg

    - name: Build software
      run: |              
        pip install pyinstaller
        mkdir tmp_dependencies
        pyinstaller --noconfirm --clean misc/main.spec

    - name: Make installer
      run: |
        makensis.exe misc/Raidionics.nsi
        cp -r misc/Raidionics-1.2.0-win.exe dist/Raidionics-1.2.0-win.exe

    - name: Upload package
      uses: actions/upload-artifact@v2
      with:
        name: Package
        path: ${{github.workspace}}/dist/Raidionics-*
        if-no-files-found: error
